.App {
  background-color: #bed4fa;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.campusimage{
  height: 50%;
  width: 70%;
  margin-top: 50px;
  text-align: center;
  margin: auto;
  display: block;
}
